@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@font-face {
    font-family: "Kica";
    src: url('./fonts/ifkica-regular.ttf') format('truetype');
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', 'Kica';
  color: black;
}